

.background1{
    background: linear-gradient(to left, rgb(89, 61, 9), black);
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
}

#imagemVenus{
    height: 700px;
    cursor: pointer;
    margin-top: 25px;
}

#title2{
    font-family: Poetsen One, sans-serif;
    font-size: 120px;
    margin-left: 800px;
    margin-top: 60px;
    color: rgb(218, 194, 57);
    
}

#text3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-left: 30px;
    margin-top: 60px;
    text-align: start;
    color: rgb(218, 194, 57);
}