


.background{
    background-color: #000;
    margin-top: 160px;
    height: 70vh;
}

.background{
    display: flex;
    justify-content: space-evenly;
}

#title1{
    font-size: 120px;
    margin-top: 70px;
    margin-left: 80px;
    font-family: Poetsen One, sans-serif;
    
}

#text2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-left: 80px;
    margin-top: 60px;
    text-align: start;
}

#imagemMercurio{
    height: 700px;
    cursor: pointer;
}