

.parteDoTexto2{
    display: flex;
    justify-content: space-between;
}

.background5{
    background:linear-gradient(to right, rgb(75, 51, 8), black) ;
    height: 70vh;
}

#title5{
    font-family: Poetsen One, sans-serif;
    font-size: 120px;
    margin-top: 30px;
    margin-left: 80px;
    color: rgb(187, 124, 41);
}

#text5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-left: 80px;
    margin-top: 60px;
    text-align:start;
    color: rgb(187, 124, 41);
    
}

#imagemJupiter{
    height: 70vh;
    cursor: pointer;
}
